<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/main.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>VL: admin page</title>
</head>
<body>

<!-- //////////////////////////////Заголовок (header) с почтой и logout ///////////////////////////////-->
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10  my-2">
            <span class="text-light fw-bold fs-5" th:text="${headEmail}" /> <span class="text-light fs-6" th:text="' with roles: '+ ${headRoles}"/>
        </div>

        <div class="col-md-2 my-2">
            <a class="text-white-50 fs-6 d-flex justify-content-end" th:href="@{/logout}">logout</a>
        </div>
    </div>
</div>
<!-- /////////////////////////////// основная часть сраницы /////////////////////////////////////////////-->
<div class="row">
<!-- //////////////////////////////// боковое меню (левое) ///////////////////////////////////////////////-->
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <!--            Если будем переходить на принцип "Tabs" (закладки), то можно вспомнить это:-->
            <!--            <a class="nav-link active" id="v-pills-Admin-tab" data-toggle="pill" href="#v-pills-Admin" role="tab" aria-controls="v-pills-Admin" aria-selected="true">Admin</a>-->
            <!--            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>-->
            <a class="nav-link active" id="v-pills-Admin-tab" data-toggle="pill" href="#v-pills-Admin" role="tab" aria-controls="v-pills-Admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" th:href="@{/user}" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>
<!-- //////////////////////////////////// адмиyская панель  (table and New user)///////////////////////////////////////////////// -->
    <div class="col-10 bg-light">
        <h1> Admin panel </h1>
        <!--///////////////////// пункты меню "Users table", "Add new user" //////////////////////////////////-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Users_table-tab" data-bs-toggle="tab" data-bs-target="#Users_table" type="button" role="tab" aria-controls="Users_table" aria-selected="true">Users table</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="NewUser-tab" data-bs-toggle="tab" data-bs-target="#NewUser" type="button" role="tab" aria-controls="NewUser" aria-selected="false">New user</button>
            </li>
        </ul>
        <!--///////////////////// Вкладки к пунктам меню [users table], [Add new user] //////////////////////////////////-->
        <div class="tab-content" id="myTabContent">
            <!--///////////////////// закладка  "users table"  ////////////////////////////////////////-->
            <div class="tab-pane fade show active" id="Users_table" role="tabpanel" aria-labelledby="Users_table-tab">
                <h5>All users</h5>
                <table class="table table-striped" id="usersTable">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
<!--
                    <tr th:each = "user : ${users}">
                        <td th:utext = "${user.id}"> </td>
                        <td th:utext = "${user.firstName}"> </td>
                        <td th:utext = "${user.lastName}"> </td>
                        <td th:utext = "${user.email}"> </td>
                        <td th:utext = "${user.password}"> </td>
                        <td th:utext = "${user.created}"> </td>
                        <td th:utext = "${user.modified}"> </td>
                        <td class="vl_EditButton"> <input type="button" value="Edit" class="btn btn-success" th:id="'bEdit' + ${user.id}" data-bs-toggle="modal" data-bs-target="#editUser" th:UserID="${user.id}"/> </td>
                        <td class="vl_DeleteButton"> <input type="button" value="Delete" class="btn btn-danger" th:id="'bDelete' + ${user.id}" data-bs-toggle="modal" data-bs-target="#editUser" th:UserID="${user.id}"/> </td>
                    </tr>
-->
                    </tbody>
                </table>
            </div>
            <!--///////////////////// закладка  "Add new user"  ////////////////////////////////////////-->
            <div class="tab-pane fade" id="NewUser" role="tabpanel" aria-labelledby="NewUser-tab">
                <div class="container-fluid border">
                    <div class="row">Add new user 003 <span style="display: inline" id="panel2">ttt</span> </div>
                    <div class="row">
                        <div class="col-md-4 border"></div>
                        <div class="col-md-4 border">
                            <form class="text-center" action="#" th:action="@{/admin/addUser}" method="post" th:object="${User}">
                                <h6>First name</h6>
                                <input type="text" class="form-control" id="firstName" aria-describedby="basic-addon3" required value="DEL_NOW"></input>
                                <h6>Last name</h6>
                                <input type="text" class="form-control" id="lastName" aria-describedby="basic-addon3" required value="DEL_NOW"></input>
                                <h6>E-mail</h6>
                                <input type="text" class="form-control" id="email" aria-describedby="basic-addon3" required value="DEL_NOW"></input>
                                <h6>Password</h6>
                                <input type="text" class="form-control" id="password" aria-describedby="basic-addon3" required value="DEL_NOW"></input>
                                <H6>Roles</H6>
                                <select class="form-select" multiple aria-label="пример множественного выбора" name="selectRoles" id="selectTag" size="10" required>
                                    <th:block th:each="role : ${roles}">
                                        <option th:value="${role.id}" th:text="${role.name}" name="roleOption">
                                    </th:block>
                                </select>
                                <input type="button" class="btn btn-success" value="Add new user" id="bAddUser">
                            </form>
                        </div>
                        <div class="col-md-4 border"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ////////////////// модальное окно редакирования пользователя /////////////////////////////// -->

<div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form class="text-center" action="#" th:action="@{/admin/addUser}" method="post" th:object="${User}">
                    <input type="text" disabled id="idMod"/>
                    <input type="text" disabled id="createdMod"/>
                    <h6>First name</h6>
                    <input type="text" class="form-control" id="firstNameMod" aria-describedby="basic-addon3" required></input>
                    <h6>Last name</h6>
                    <input type="text" class="form-control" id="lastNameMod" aria-describedby="basic-addon3" required></input>
                    <h6>E-mail</h6>
                    <input type="text" class="form-control" id="emailMod" aria-describedby="basic-addon3" required></input>
                    <h6>Password</h6>
                    <input type="text" class="form-control" id="passwordMod" aria-describedby="basic-addon3" required></input>
                    <H6>Roles</H6>
                    <select class="form-select" multiple aria-label="пример множественного выбора" name="selectRoles" id="selectTagMod" size="10" required>
                        <option value="1" text="nothing" name="roleOption">
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="bEditDelete">Edit</button>
            </div>
        </div>
    </div>
</div>






<!--  /////////// from 3-3-1-1 solution: /////////////////////////////////////////////////////////////-->






<!--<h2 class="mt-10"> <a th:href="@{/admin/addUser}">Add new user</a> </h2>-->

<h3 id="result001">result</h3>

<!--<a th:href="@{/user}">Go to "user"</a> <br/>-->

<!--<form action="#" th:action="@{/logout}" method="get">-->
<!--    <input type="submit" value="logout"/>-->
<!--</form>-->


<div id="box">
    <div id = "roles">
        <h3>Roles:</h3>
        <table class="table-bordered" id="tableRoles">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Role</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "role : ${roles}">
                    <td th:utext = "${role.id}"> </td>
                    <td th:utext = "${role.name}"> </td>
                    <td>
                        <a th:href="@{/admin/editRole(id=${role.id})}">edit</a>
                        <a th:href="@{/admin/deleteRole(id=${role.id})}">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 th:utext="${result002}"></h3>
        <h2> <a th:href="@{/admin/addRole}">Add new role</a> </h2>
    </div>

    <div id="user_role">
        <h3>User_Role:</h3>

        <table class="table-bordered" id="tableUserRole">
            <thead>
                <tr>
                    <th>User</th>
                    <th>User_id</th>
                    <th>Role_id</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "ur : ${userRole}">
                    <td th:utext = "${ur[0]}"> </td>
                    <td th:utext = "${ur[1]}"> </td>
                    <td th:utext = "${ur[2]}"> </td>
                    <td th:utext = "${ur[3]}"> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br class="box">
<h3> lalala:  end of page 01 </h3>


<!-- //////////////////////////end of body //////////////////////////////////////////////////////////////// -->
<!--/////////////// VL javaScript //////////////////////////////////-->
<script type="text/javascript" src="/static/VLEditAddUser.js"></script>

<!-- Optional JavaScript ////////////////////////////////////////////////////////////////////////////////// -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>