<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/main.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>VL: admin page</title>
</head>
<body>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10  my-2">
            <span class="text-light fw-bold fs-5">heamens@mail.exe</span> <span class="text-light fs-6">with roles</span>
        </div>

        <div class="col-md-2 my-2">
            <span class="text-white-50 fs-6 d-flex justify-content-end">logout</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-Admin-tab" data-toggle="pill" href="#v-pills-Admin" role="tab" aria-controls="v-pills-Admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10 bg-light">
        <h1> Admin panel </h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Users_table-tab" data-bs-toggle="tab" data-bs-target="#Users_table" type="button" role="tab" aria-controls="Users_table" aria-selected="true">Users table</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="NewUser-tab" data-bs-toggle="tab" data-bs-target="#NewUser" type="button" role="tab" aria-controls="NewUser" aria-selected="false">New user</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="Users_table" role="tabpanel" aria-labelledby="Users_table-tab">
                <h5>All users</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "user : ${users}">
                        <td th:utext = "${user.id}"> </td>
                        <td th:utext = "${user.firstName}"> </td>
                        <td th:utext = "${user.lastName}"> </td>
                        <td th:utext = "${user.email}"> </td>
                        <td th:utext = "${user.password}"> </td>
                        <td th:utext = "${user.created}"> </td>
                        <td th:utext = "${user.modified}"> </td>
                        <td> <a class="btn btn-success" th:href="@{/admin/edit(id=${user.id})}">Edit</a> </td>
                        <td> <a class="btn btn-danger" th:href="@{/admin/delete(id=${user.id})}">Delete</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade show active" id="NewUser" role="tabpanel" aria-labelledby="NewUser-tab">
                <div class="container-fluid border">
                    <div class="row">Add new user 003 <span style="display: inline" id="panel2">ttt</span> </div>
                    <div class="row">
                        <div class="col-md-4 border"></div>
                        <div class="col-md-4 border">
                            <form class="text-center" action="#" th:action="@{/admin/addUser}" method="post" th:object="${User}">
                                <h6>First name</h6>
                                <input type="text" class="form-control" id="firstName" aria-describedby="basic-addon3" required></input>
                                <h6>Last name</h6>
                                <input type="text" class="form-control" id="lastName" aria-describedby="basic-addon3" required></input>
                                <h6>E-mail</h6>
                                <input type="text" class="form-control" id="email" aria-describedby="basic-addon3" required></input>
                                <h6>Password</h6>
                                <input type="text" class="form-control" id="password" aria-describedby="basic-addon3" required></input>
                                <H6>Roles</H6>
                                <select class="form-select" multiple aria-label="пример множественного выбора" name="selectRoles" id="selectTag" size="10" required>
                                    <th:block th:each="role : ${roles}">
                                        <option th:value="${role.id}" th:text="${role.name}" name="roleOption">
                                    </th:block>
                                </select>
                                <input type="button" class="btn btn-success" value="Add new user" id="bAddUser">
                            </form>
                        </div>
                        <div class="col-md-4 border"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>







<!--  /////////// from 3-3-1-1 solution: /////////////////////////////////////////////////////////////-->






<h2 class="mt-10"> <a th:href="@{/admin/addUser}">Add new user</a> </h2>

<h3 th:utext="${result001}"></h3>

<a th:href="@{/user}">Go to "user"</a> <br/>

<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="logout"/>
</form>


<div id="box">
    <div id = "roles">
        <h3>Roles:</h3>
        <table class="table-bordered">
            <tr>
                <th>id</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
            <tr th:each = "role : ${roles}">
                <td th:utext = "${role.id}"> </td>
                <td th:utext = "${role.name}"> </td>
                <td>
                    <a th:href="@{/admin/editRole(id=${role.id})}">edit</a>
                    <a th:href="@{/admin/deleteRole(id=${role.id})}">delete</a>
                </td>
            </tr>
        </table>

        <h3 th:utext="${result002}"></h3>
        <h2> <a th:href="@{/admin/addRole}">Add new role</a> </h2>
    </div>

    <div id="user_role">
        <h3>User_Role:</h3>

        <table class="table-bordered">
            <tr>
                <th>User</th>
                <th>User_id</th>
                <th>Role_id</th>
                <th>Role</th>
            </tr>
            <tr th:each = "ur : ${userRole}">
                <td th:utext = "${ur[0]}"> </td>
                <td th:utext = "${ur[1]}"> </td>
                <td th:utext = "${ur[2]}"> </td>
                <td th:utext = "${ur[3]}"> </td>
                <!--
                        <td>
                            <a th:href="@{/editRole11(id=${ur.User_id})}">edit</a>
                            <a th:href="@{/deleteRole11(id=${ur.User_id})}">delete</a>
                        </td>
                -->
            </tr>
        </table>
    </div>
</div>

<br class="box">
<h3> lalala:  end of page 01 </h3>


<!-- //////////////////////////end of body //////////////////////////////////////////////////////////////// -->

<script type="text/javascript" src="/static/VLEditAddUser.js"></script>
<!-- Optional JavaScript ////////////////////////////////////////////////////////////////////////////////// -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>